@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-display -webkit-font-smoothing antialiased;
  }
}

.custom-scrollbar::-webkit-scrollbar {
  height: 6px;
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #e5e7eb;
  border-radius: 10px;
}

.dark .custom-scrollbar::-webkit-scrollbar-thumb {
  background: #374151;
}

.material-symbols-outlined {
  font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 20;
}

.timeline-grid {
  display: grid;
  grid-template-columns: 140px 1fr;
}
